@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,700;1,200;1,300;1,700&display=swap');

* {
    font-family: 'Nunito';
    
}
h1,h2,body {
    margin:0px;
    padding: 0px;
}
h1 {
    font-weight: bold;
    font-size: 36px;
    font-style: italic;
}
h2 {
    font-size: 20px;
    color: #6b6b6b;
    font-weight: lighter;
    text-shadow: 0px 2px 2px #cbcbcb;
    margin-bottom: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid #747474;
}
.about-me-text {
    font-size: 13px;
    line-height: 16px;
}
.mainbox {
    width: 610px;
    padding: 30px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 10px 0 rgba(1, 1, 1, 0.2);
    /* rgba( 0, 0, 0, 0, 0.1) */
}
.profile-img {
    float: left;
    display: inline;
}
.profile-img img {
    border-radius: 50%;
}
.title-box {
    text-align: right;
}
.name-text {
    font-size: 16px;
    color: #7c7c7c;
    font-weight: bold;
}
.title-text {
    font-size: 7px;
    font-weight: bold;
    color: #282828;
    float: left;
}
.year-text {
    font-size: 7px;
    font-weight: bold;
    color: #282828;
    float: right;
    padding-left: 3px;
    border-left: 3px double #747474;
}
.desc-text {
    font-size: 10px;
}
.desc-subtext {
    font-size: 10px;
    color: #282828;
    padding-left: 16px;
}
.float-wrap{
    clear: both;
    overflow: hidden;
}
.sns-wrap {
    text-align: right;
}
.sns-img {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
section {
    margin-bottom: 24px;
}
footer {
    text-align: center;
    background-color: #1e1e1e;
    color: #919191;
    font-size: 12px;
    padding: 20px;
}
.progress {
    max-width: 50%;
    padding-left: 16px;
    font-size: 7px;
    text-align: right;    
}
.progress-bar {
    position: relative;
    float: left;
    overflow: hidden;
    height: 12px;
}
.skills {
    margin-bottom: 30px;    
}